@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Tilt+Prism&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat Medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(156, 131, 208);
  background: radial-gradient(
    circle,
    rgb(119, 103, 145) 0%,
    rgb(115, 63, 157) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a,
ul {
  list-style: none;
  text-decoration: none;

  padding: 0;
  margin: 0;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
